/*  기본값 초기화  */

html, body, h1, h2, h3, h4, h5, h6, p{
	margin: 0; 
	padding: 0;
	border: 0;
  word-break: keep-all;
}

h1, h2, h3, h4, h5, h6, p, span{
  z-index: 1;
}

body {
	line-height: 1;
  font-family: TossFaceFont, Noto Sans;
  font-style: normal;
  font-weight: 500;

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  
  overflow-x:hidden;
}
ol, ul {  
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
  text-decoration-line: none;
  text-decoration: none;
  color: inherit;
  
}

/* nav 관련 속성 */

.nav{
    width:100%;
    justify-content: space-around;
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    background-color: #ffffff;
    z-index: 100;
}

.navbar_menu{
  display: flex;
  align-items: center;
  font-size: 15px;
  white-space: nowrap;
  padding-left: 0;
}


.navbar_item{
  align-content: center;
  padding: 0px 10px;
}

.navbar_item a{
  padding: 12px 10px;
  font-size: 14px; 
  line-height: 20px; 
  color: #4e5968;
}

.navbar_lang{
  display:flex;
  align-items: center;
}

/* mian 관련 속성 */

.main{
    height: 100%;
}

/* section1 */

.home1_wrap{
   position: relative; 
   width: 100%;
}

.home1_container_css{
  height: 100vh;
  width: 100%;
  background: 
    linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0)), 
    url('static/img/home1_backgrond.png') center/cover no-repeat;
  background-size: cover;
  position:relative;
}

.home1_container1{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.home1_content{
  justify-content: center;
  align-content: center;
  opacity: 0;
}

.home1_text{
  font-size: 31px;
  text-align: center;
  margin-bottom: 50px;
  line-height: 1.4;
  white-space: wrap;
}

.home1_btn {
  display: flex;
  justify-content: center;  
  word-break: keep-all;
}

.button_left{
  margin: 0px 6px 0px 0px;
}

.store_btn{
  background-color: rgba(0, 12, 30, 0.8);
  padding: 11px 16px 11px 14px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: white;
  border-radius: 7px;
}

.home1_container2{
  height: 220px;
  position: relative;
  display: flex;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  background: #f9fafb;
  padding: 200px 0;
  justify-content: center;
  white-space: wrap;
}


/* section2 */

.home2_wrap{
   position: relative;
   width: 100%;
}

.home2_container{
  padding: 250px 0 165px 0;
  position: relative;
  width: 100%;
  height: 1272px;
  margin:auto;
}

.home2_positionBox{
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.home2_head{
  position: relative;
  white-space: wrap;
}

.home2_head1{
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #3182f6;
  margin-bottom: 30px;
  white-space: wrap;
  word-break: keep-all;
}

.home2_head2{
  position: relative;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
  color: #191f28;
  white-space: wrap;
  word-break: keep-all;
  z-index: 3;
}

.home2_mainImg_left_box{
  position: absolute;
  width: 600px;
  height: 936px;
  bottom: 0px;
  left: -104px;
  z-index: 2;
}

.home2_mainImg_shadow_left{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  z-index: 1;
}

.home2_mainImg_left{
  position: absolute;
  bottom: 10%;
  left: 22%;
  width: 57%;
  height: auto;
  border-radius: 22px;
}


.home2_mainImg_right_box{
  position: absolute;
  width: 600px;
  height: 936px;
  top: 0px;
  right: -104px;
  overflow: hidden;
}

.home2_mainImg_shadow_right{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  z-index: 1;
}

.home2_mainImg_right{
  position: absolute;
  top: 10%;
  left: 22%;
  width: 57%;
  height: auto;
  border-radius: 40px;
}

.home2_text{
  position: absolute;
  line-height: 1.5;
  font-weight: 500;
  font-size: 23px;
  right: 10px;
  bottom: 50px;
  white-space: wrap;
  color: rgb(51, 61, 75);
  z-index: 3;
}

/* ------------------------------------------------------- */

/* home3 */

.home3_wrap{
  position:relative;
  width: 100%;
}

.home3_container{
  position: relative;
  width: 100%;
  height: 100%;
  margin:auto;
}

.home3_contentBox{
  position: relative;
  width: 92%;
  height: 100%;
  margin: 0 auto;
}

.home3_head1{
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #3182f6;
  margin-bottom: 30px;
}

.home3_head2{
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
  color: #191f28;
  margin-bottom: 80px;
  white-space: wrap;
}

.home3_main1{
  padding: 0px;
  margin: 0px 0px 150px;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  justify-content: space-between;
  align-items: center;
}

.home3_main1_textBox{
  width: 556px;
  height: 100%;
  max-width: calc(50% - 30px);
  flex-basis: calc(50% - 30px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 38px;
  white-space: nowrap;
}

.home3_main1_text1{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: rgb(49, 130, 246);
  
}

.home3_main1_text2{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  color: rgb(51,61,75);
}

.home3_main1_text3{
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(107, 118, 132);
}

.home3_main1_img{
  width: 100%;
  height: auto;
  max-width: calc(50% - 30px);
  flex-basis: calc(50% - 30px);
}

.home3_main2{
  padding: 0px;
  margin: 0px 0px 150px;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  justify-content: space-between;
  align-items: center;
}

.home3_main2_textBox{
  width: 556px;
  height: 100%;
  max-width: calc(50% - 30px);
  flex-basis: calc(50% - 30px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 38px;
  word-break: break-word;
  white-space: nowrap;
}

.home3_main2_text1{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: rgb(49, 130, 246);
}

.home3_main2_text2{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  color: rgb(51,61,75);
}

.home3_main2_text3{
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(107, 118, 132);
}

.home3_main2_img{
  width: 100%;
  height: auto;
  max-width: calc(50% - 30px);
  flex-basis: calc(50% - 30px);
}

.home3_main3{
  padding: 0px;
  margin: 0px 0px 150px;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  justify-content: space-between;
  align-items: center;
}

.home3_main3_textBox{
  width: 556px;
  height: 100%;
  max-width: calc(50% - 30px);
  flex-basis: calc(50% - 30px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 38px;
}

.home3_main3_text1{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: rgb(49, 130, 246);
  
}

.home3_main3_text2{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  color: rgb(51,61,75);
}

.home3_main3_text3{
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(107, 118, 132);
}

.home3_main3_img{
  width: 100%;
  height: auto;
  max-width: calc(50% - 30px);
  flex-basis: calc(50% - 30px);
}





/* home4 */

.home4_wrap{
  position:relative;
  width: 100%;
}

.home4_container{
  position: relative;
  width: 100%;
  height: 100%;
  margin:auto;
}

.home4_contentBox{
  position: relative;
  width: 92%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}

.home4_head{
  height: auto;
  margin-bottom: 210px;
  z-index: 1;
}

.home4_head1{
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #3182f6;
  margin-bottom: 30px;
}

.home4_head2{
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
  color: #191f28;
  white-space: nowrap;
}

.home4_content1{
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(51, 61, 75);
  white-space: pre-wrap;
}

.home4_content2{
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(51, 61, 75);
  white-space: pre-wrap;
}

.home4_content3{
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(51, 61, 75);
  white-space: pre-wrap;
  margin-bottom: 30px;
}

.home4_content4{
  font-size: 23px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(51, 61, 75);
  white-space: pre-wrap;
}




.home4_imgBox{
  position: absolute;
  width: 100%;
  height: 100%;
  width: 400px;
  right: 200px;
}

.home4_img1{
  width: 600px;
  left: 50%;
  top: 50%;
  align-items: center;
}

/* home5 */

/* home6 */

/* home7 */

/* home8 */

/* home9 */

/* home10 */


/* footer 관련 속성 */

.footer{
  /* height: 7000px; */
  background-color: beige;
}