/*  기본값 초기화  */

html, body, h1, h2, h3, h4, h5, h6{
	margin: 0; 
	padding: 0;
	border: 0;
  word-break: keep-all;
}

body {
	line-height: 1;
  font-family: TossFaceFont, Noto Sans;
  font-style: normal;
  font-weight: 500;

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
ol, ul {  
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
  text-decoration-line: none;
  text-decoration: none;
  color: inherit;
  
}

/* nav 관련 속성 */

.nav{
    width:100%;
    justify-content: space-around;
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    background-color: #ffffff;
    z-index: 1;
}

.navbar_menu{
  display: flex;
  align-items: center;
  font-size: 15px;
  white-space: nowrap;
  padding-left: 0;
}


.navbar_item{
  align-content: center;
  padding: 0px 10px;
}

.navbar_item a{
  padding: 12px 10px;
  font-size: 14px; 
  line-height: 20px; 
  color: #4e5968;
}

.navbar_lang{
  display:flex;
  align-items: center;
}

/* mian 관련 속성 */

.main{
    height: 7000px;
    margin-top: 60px;
}

/* home1 */

.home1_wrap{
  
   height: 900px; 
   width: 100%;
}

.home1_container_css{
  height: 700px;
  width: 100%;
  background: 
    linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0)), 
    url('static/img/home1_backgrond.png') center/cover no-repeat;
  background-size: cover;
  position:relative;
}

.home1_container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.home1_text{
  font-size: 31px;
  text-align: center;
  margin-bottom: 50px;
  line-height: 1.4;
}

.home1_btn{
  display: flex;
  margin-left: 300px;
  margin-right: 300px;
  align-content: center;
  justify-content: space-around;
  flex-shrink: 0;
}

.button_left{
  margin: 0px 6px 0px 0px;
}

.store_btn{
  background-color: rgba(0, 12, 30, 0.8);
  padding: 11px 16px 11px 14px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: white;
  border-radius: 7px;
  flex-shrink: 0;
  position: nowrap;
}

.home2_container{
  height: 220px;
  position: relative;
  display: flex;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  align-items: center;
  background: #f9fafb;
  padding: 200px 0;
  
}


/* home2 */

/* home3 */

/* home4 */

/* home5 */

/* home6 */

/* home7 */

/* home8 */

/* home9 */

/* home10 */


/* footer 관련 속성 */

.footer{
    height: 200px;
    background-color: beige;
}

